django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
pydantic
celery
redis
django-storages
boto3
weasyprint
drf-spectacular
python-dotenv
anthropic
dj_database_url
whitenoise
gunicorn

apify==3.0.1
beautifulsoup4==4.13.4
camoufox==0.4.11
coloredlogs==15.0.1
Js2Py==0.74
pandas==2.3.0
playwright==1.52.0
toml==0.10.2

celery==5.5.3
django-celery-beat==2.8.1
django_celery_results==2.6.0
